<config verbose="no">
	<parent-provides>
		<service name="ROM"/>
		<service name="CPU"/>
		<service name="PD"/>
		<service name="LOG"/>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="Report"/>
	</parent-provides>

	<service name="Platform">
		<default-policy> <child name="platform_drv"/> </default-policy>
	</service>

	<default-route>
		<service name="Report"> <child name="report_rom"/> </service>
		<any-service> <parent/> <any-child/> </any-service>
	</default-route>

	<default caps="100"/>

	<start name="platform_drv" caps="100" managing_system="yes">
		<binary name="zynq_platform_drv"/>
		<resource name="RAM" quantum="1M"/>
		<provides> <service name="Platform"/> </provides>
		<route>
			<service name="ROM" label="devices"> <child name="devices_rom"/> </service>
			<service name="ROM" label="config">  <child name="policy_rom"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="fpga_drv">
		<resource name="RAM" quantum="8M"/>
		<config bitstream="/bitstreams/fpga.bit" enable="yes">
			<vfs>
				<dir name="bitstreams">
					<rom name="fpga.bit"/>
				</dir>
			</vfs>
		</config>
	</start>

	<start name="report_rom">
		<resource name="RAM" quantum="2M"/>
		<provides>
			<service name="Report"/>
			<service name="ROM"/>
		</provides>
		<config verbose="no">
			<policy label="devices_rom -> fpga_state"   report="fpga_drv -> state"/>
		</config>
	</start>

	<start name="devices_rom">
		<binary name="rom_filter"/>
		<resource name="RAM" quantum="2M"/>
		<provides>
			<service name="ROM"/>
		</provides>
		<config>
			<input name="loaded" rom="fpga_state" node="state">
				<node type="bitstream">
					<attribute name="loaded"/>
				</node>
			</input>
			<input name="devices"/>
			<input name="fpga_devices"/>

			<output node="devices">
				<input name="devices" skip_toplevel="yes"/>
				<if>
					<has_value input="loaded" value="true"/>
					<then>
						<input name="fpga_devices" skip_toplevel="yes"/>
					</then>
				</if>
			</output>
		</config>
		<route>
			<service name="ROM" label="fpga_state">
				<child name="report_rom"/>
			</service>
			<service name="ROM" label="devices">      <parent/> </service>
			<service name="ROM" label="fpga_devices"> <parent/> </service>
			<any-service> <parent/> <any-child/> </any-service>
		</route>
	</start>

	<start name="policy_rom">
		<binary name="rom_filter"/>
		<resource name="RAM" quantum="2M"/>
		<provides>
			<service name="ROM"/>
		</provides>
		<config>
			<input name="policy"/>

			<output node="config">
				<inline>
					<policy label="fpga_drv -> " info="yes">
						<device name="devcfg"/>
					</policy>
				</inline>
				<input name="policy" skip_toplevel="yes"/>
			</output>
		</config>
		<route>
			<service name="ROM" label="policy"> <parent/> </service>
			<any-service> <parent/> <any-child/> </any-service>
		</route>
	</start>

</config>
