<config>

	<parent-provides>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="Uplink"/>
	</parent-provides>

	<default caps="100"/>

	<start name="platform_drv" caps="100">
		<resource name="RAM" quantum="1M"/>
		<provides> <service name="Platform"/> </provides>
		<route> <any-service> <parent/> </any-service> </route>
		<config>
			<device name="cadence_gem">
				<io_mem address="0xE000C000" size="0x1000"/>;
				<irq number="77"/>
			</device>
			<policy label="zynq_nic_drv -> " info="yes">
				<device name="cadence_gem"/>
			</policy>
		</config>
	</start>

	<start name="zynq_nic_drv">
		<resource name="RAM" quantum="4M"/>
		<route>
			<service name="ROM">    <parent/> </service>
			<service name="CPU">    <parent/> </service>
			<service name="PD">     <parent/> </service>
			<service name="LOG">    <parent/> </service>
			<service name="Timer">  <parent/> </service>
			<service name="Uplink"> <parent/> </service>
			<service name="Platform"> <child name="platform_drv"/> </service>
		</route>
	</start>

</config>
