<config>
	<device name="devcfg" type="xlnx,zynq-devcfg-1.0">
		<io_mem address="0xf8007000" size="0x1000"/>;
	</device>
	<device name="cadence_gem" type="zynq-gem">
		<io_mem address="0xE000B000" size="0x1000"/>;
		<irq number="54"/>
	</device>
	<device name="spi0" type="zynq-spi">
		<io_mem address="0xe0006000" size="0x1000"/>
		<property name="spi-max-frequency" value="0x989680"/>
		<property name="spi-cpha" value="yes"/>
		<clock name="spi0"/>
	</device>
	<device name="zynq-gpio" type="zynq-gpio">
		<io_mem address="0xe000a000" size="0x1000"/>;
	</device>
	<policy label="fpga_drv -> " info="yes">
		<device name="devcfg"/>
	</policy>
	<policy label_suffix="nic_drv -> " info="yes">
		<device name="cadence_gem"/>
	</policy>
</config>
